## Exercize

Download TB_burden_age_sex_2019-04-23.csv for 2017 from the site https://www.who.int/tb/country/data/download/en/. Save this file in your project folder. Open the file with `pd.read_csv()` method do the following cleaning

- drop the collumns iso2, iso3, iso_numeric. 
- rename the collumn age_group to age

In [4]:
import pandas as pd

df = pd.read_csv('../data/TB_burden_age_sex_2019-04-23.csv')
df = df.drop('iso2', axis = 1).drop('iso3', axis =1).drop('iso_numeric', axis=1)
df = df.rename(columns = {'age_group':'age'})
df['diff']= df['hi'] - df['lo']
df.head()

       country  year measure unit   age sex  best      lo       hi    diff
0  Afghanistan  2017     inc  num  0-14   a  7500  4300.0  11000.0  6700.0
1  Afghanistan  2017     inc  num  0-14   f  3600  1400.0   5800.0  4400.0
2  Afghanistan  2017     inc  num  0-14   m  4000  1500.0   6400.0  4900.0
3  Afghanistan  2017     inc  num   0-4   f  1800     0.0   4400.0  4400.0
4  Afghanistan  2017     inc  num   0-4   m  2200     0.0   5400.0  5400.0

### Question 0 (Example)

What is the first country in df? This function should return a Series

In [4]:
def answer_zero():

    return df.iloc[0]

answer_zero()

country    Afghanistan
year              2017
measure            inc
unit               num
age               0-14
sex                  a
best              7500
lo                4300
hi               11000
Name: 0, dtype: object

### Question 1

Which country has the highest estimate of TB?

This function should return a the string India.

In [5]:
def answer_one():
    
    return df['country'].iloc[df['hi'].idxmax()]

answer_one()

'India'

In [11]:
df_65 = df[df['age'] == '65plus']
len(set(df_65['country']))

119

### Question 2

Which country has the smallest difference between high and low estimates?

In [6]:
def answer_two():
    
    return df['country'].iloc[(df['hi'] - df['lo']).idxmin()]

answer_two()

'American Samoa'

### Question 3

How many countries have 65plus records?

In [16]:
df_65.groupby('country')['age'].nunique()

country
Afghanistan                           1
Algeria                               1
Angola                                1
Argentina                             1
Australia                             1
                                     ..
Venezuela (Bolivarian Republic of)    1
Viet Nam                              1
Yemen                                 1
Zambia                                1
Zimbabwe                              1
Name: age, Length: 119, dtype: int64

In [7]:
def answer_three(df):
    
    df = df[df['age'] == '65plus'] #select 65plus countries
    return len(df.groupby('country')['age'].nunique())

answer_three(df)

119

### Question 4

Select the females and exclude the 'age = all' records. What are the top 5 countries that have the two most highest 'best estimates'?

In [18]:
import pandas as pd

df = pd.read_csv('../data/TB_burden_age_sex_2019-04-23.csv')
df = df.drop('iso2', axis = 1).drop('iso3', axis =1).drop('iso_numeric', axis=1)
df = df.rename(columns = {'age_group':'age'})

In [25]:
#df['age'] =='all'
df_all_f = df[(df['sex'] == 'f') & (df['age'] =='all')]
df_all_f

,country,year,measure,unit,age,sex,best,lo,hi
23,Afghanistan,2017,inc,num,all,f,34000,15000.0,53000.0
32,Albania,2017,inc,num,all,f,200,160.0,240.0
57,Algeria,2017,inc,num,all,f,12000,7700.0,16000.0
66,American Samoa,2017,inc,num,all,f,2,1.0,2.0
75,Andorra,2017,inc,num,all,f,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
3762,Wallis and Futuna Islands,2017,inc,num,all,f,0,0.0,0.0
3771,West Bank and Gaza Strip,2017,inc,num,all,f,21,14.0,29.0
3796,Yemen,2017,inc,num,all,f,6800,5600.0,8100.0
3821,Zambia,2017,inc,num,all,f,24000,11000.0,36000.0
3846,Zimbabwe,2017,inc,num,all,f,15000,9400.0,21000.0

In [30]:
group = df_all_f.groupby('country')['best'].nlargest(2)

In [32]:
df_x = df_all_f.groupby('country')['best'].apply(lambda x: x.nlargest(2).sum())

In [33]:
df_x

country
Afghanistan                  34000
Albania                        200
Algeria                      12000
American Samoa                   2
Andorra                          0
                             ...
Wallis and Futuna Islands        0
West Bank and Gaza Strip        21
Yemen                         6800
Zambia                       24000
Zimbabwe                     15000
Name: best, Length: 216, dtype: int64

In [19]:
import pandas as pd

df = pd.read_csv('data/TB_burden_age_sex_2019-04-23.csv')
df = df.drop('iso2', axis = 1).drop('iso3', axis =1).drop('iso_numeric', axis=1)
df = df.rename(columns = {'age_group':'age'})

df = df[df['sex'] == 'f'] 
df = df[df['age'] != 'all']
df = df.groupby('country')['best'].apply(lambda x: x.nlargest(2).sum())
df.nlargest(5) #top 5 countries

country
India          1084000
Indonesia       393000
China           296000
Pakistan        252000
Philippines     173000
Name: best, dtype: int64