In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('eeg_data.csv')

In [2]:
df

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,y
0,X21.V1.791,135,190,229,223,192,125,55,-9,-33,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,4
1,X15.V1.924,386,382,356,331,320,315,307,272,244,...,164,150,146,152,157,156,154,143,129,1
2,X8.V1.1,-32,-39,-47,-37,-32,-36,-57,-73,-85,...,57,64,48,19,-12,-30,-35,-35,-36,5
3,X16.V1.60,-105,-101,-96,-92,-89,-95,-102,-100,-87,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,5
4,X20.V1.54,-9,-65,-98,-102,-78,-48,-16,0,-21,...,4,2,-12,-32,-41,-65,-83,-89,-73,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495,X22.V1.114,-22,-22,-23,-26,-36,-42,-45,-42,-45,...,15,16,12,5,-1,-18,-37,-47,-48,2
11496,X19.V1.354,-47,-11,28,77,141,211,246,240,193,...,-65,-33,-7,14,27,48,77,117,170,1
11497,X8.V1.28,14,6,-13,-16,10,26,27,-9,4,...,-65,-48,-61,-62,-67,-30,-2,-1,-8,5
11498,X10.V1.932,-40,-25,-9,-12,-2,12,7,19,22,...,121,135,148,143,116,86,68,59,55,3
11499,X16.V1.210,29,41,57,72,74,62,54,43,31,...,-59,-25,-4,2,5,4,-2,2,20,4

In [3]:
df = df.rename(columns = {"Unnamed: 0":"ID"})
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X170,X171,X172,X173,X174,X175,X176,X177,X178,y
0,X21.V1.791,135,190,229,223,192,125,55,-9,-33,...,-17,-15,-31,-77,-103,-127,-116,-83,-51,4
1,X15.V1.924,386,382,356,331,320,315,307,272,244,...,164,150,146,152,157,156,154,143,129,1
2,X8.V1.1,-32,-39,-47,-37,-32,-36,-57,-73,-85,...,57,64,48,19,-12,-30,-35,-35,-36,5
3,X16.V1.60,-105,-101,-96,-92,-89,-95,-102,-100,-87,...,-82,-81,-80,-77,-85,-77,-72,-69,-65,5
4,X20.V1.54,-9,-65,-98,-102,-78,-48,-16,0,-21,...,4,2,-12,-32,-41,-65,-83,-89,-73,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495,X22.V1.114,-22,-22,-23,-26,-36,-42,-45,-42,-45,...,15,16,12,5,-1,-18,-37,-47,-48,2
11496,X19.V1.354,-47,-11,28,77,141,211,246,240,193,...,-65,-33,-7,14,27,48,77,117,170,1
11497,X8.V1.28,14,6,-13,-16,10,26,27,-9,4,...,-65,-48,-61,-62,-67,-30,-2,-1,-8,5
11498,X10.V1.932,-40,-25,-9,-12,-2,12,7,19,22,...,121,135,148,143,116,86,68,59,55,3
11499,X16.V1.210,29,41,57,72,74,62,54,43,31,...,-59,-25,-4,2,5,4,-2,2,20,4

In [4]:
df[["idx","patient_ID"]] = df.ID.str.split(".",1, expand=True)
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X172,X173,X174,X175,X176,X177,X178,y,idx,patient_ID
0,X21.V1.791,135,190,229,223,192,125,55,-9,-33,...,-31,-77,-103,-127,-116,-83,-51,4,X21,V1.791
1,X15.V1.924,386,382,356,331,320,315,307,272,244,...,146,152,157,156,154,143,129,1,X15,V1.924
2,X8.V1.1,-32,-39,-47,-37,-32,-36,-57,-73,-85,...,48,19,-12,-30,-35,-35,-36,5,X8,V1.1
3,X16.V1.60,-105,-101,-96,-92,-89,-95,-102,-100,-87,...,-80,-77,-85,-77,-72,-69,-65,5,X16,V1.60
4,X20.V1.54,-9,-65,-98,-102,-78,-48,-16,0,-21,...,-12,-32,-41,-65,-83,-89,-73,5,X20,V1.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495,X22.V1.114,-22,-22,-23,-26,-36,-42,-45,-42,-45,...,12,5,-1,-18,-37,-47,-48,2,X22,V1.114
11496,X19.V1.354,-47,-11,28,77,141,211,246,240,193,...,-7,14,27,48,77,117,170,1,X19,V1.354
11497,X8.V1.28,14,6,-13,-16,10,26,27,-9,4,...,-61,-62,-67,-30,-2,-1,-8,5,X8,V1.28
11498,X10.V1.932,-40,-25,-9,-12,-2,12,7,19,22,...,148,143,116,86,68,59,55,3,X10,V1.932
11499,X16.V1.210,29,41,57,72,74,62,54,43,31,...,-4,2,5,4,-2,2,20,4,X16,V1.210

In [5]:
df["idx"] = df.idx.str.strip("X").astype(int)
df = df.drop('ID', axis = 1)
df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X172,X173,X174,X175,X176,X177,X178,y,idx,patient_ID
0,135,190,229,223,192,125,55,-9,-33,-38,...,-31,-77,-103,-127,-116,-83,-51,4,21,V1.791
1,386,382,356,331,320,315,307,272,244,232,...,146,152,157,156,154,143,129,1,15,V1.924
2,-32,-39,-47,-37,-32,-36,-57,-73,-85,-94,...,48,19,-12,-30,-35,-35,-36,5,8,V1.1
3,-105,-101,-96,-92,-89,-95,-102,-100,-87,-79,...,-80,-77,-85,-77,-72,-69,-65,5,16,V1.60
4,-9,-65,-98,-102,-78,-48,-16,0,-21,-59,...,-12,-32,-41,-65,-83,-89,-73,5,20,V1.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11495,-22,-22,-23,-26,-36,-42,-45,-42,-45,-49,...,12,5,-1,-18,-37,-47,-48,2,22,V1.114
11496,-47,-11,28,77,141,211,246,240,193,136,...,-7,14,27,48,77,117,170,1,19,V1.354
11497,14,6,-13,-16,10,26,27,-9,4,14,...,-61,-62,-67,-30,-2,-1,-8,5,8,V1.28
11498,-40,-25,-9,-12,-2,12,7,19,22,29,...,148,143,116,86,68,59,55,3,10,V1.932
11499,29,41,57,72,74,62,54,43,31,23,...,-4,2,5,4,-2,2,20,4,16,V1.210

In [6]:
df = df.sort_values(by = ['patient_ID','idx'])
df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X172,X173,X174,X175,X176,X177,X178,y,idx,patient_ID
9065,12,22,35,45,69,74,79,78,66,43,...,-47,-53,-48,-40,-17,-23,-32,5,1,V1
9699,-41,-50,-53,-49,-35,-28,-15,-2,14,18,...,4,-18,-31,-27,-26,-21,-30,5,2,V1
2988,-45,-60,-73,-70,-70,-51,-29,-11,-7,-11,...,-38,-44,-31,-17,4,35,59,5,3,V1
3227,68,63,52,45,46,45,38,18,3,-4,...,-68,-85,-92,-96,-83,-73,-66,5,4,V1
8967,-59,-48,-35,-22,4,18,21,17,18,11,...,-16,-29,-35,-21,3,35,66,5,5,V1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2383,506,510,512,518,530,543,559,574,582,570,...,236,386,395,504,625,816,863,1,19,V14
6142,791,700,636,562,468,355,239,150,114,122,...,245,234,196,131,58,-5,-71,1,20,V14
11133,-141,-253,-553,-952,-1184,-1045,-560,-16,379,633,...,-981,-1334,-1438,-1178,-720,-219,187,1,21,V14
11164,496,665,693,620,521,385,255,146,84,60,...,227,264,280,286,269,242,208,1,22,V14
7970,174,145,129,127,145,172,197,203,147,43,...,250,137,57,17,0,7,26,1,23,V14

In [8]:
df.patient_ID.value_counts()

V1        23
V1.693    23
V1.714    23
V1.713    23
V1.712    23
          ..
V1.39     23
V1.384    23
V1.383    23
V1.382    23
V14       23
Name: patient_ID, Length: 500, dtype: int64

In [11]:
data = df.iloc[:,:-3].copy()
data

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X169,X170,X171,X172,X173,X174,X175,X176,X177,X178
9065,12,22,35,45,69,74,79,78,66,43,...,-4,-18,-32,-47,-53,-48,-40,-17,-23,-32
9699,-41,-50,-53,-49,-35,-28,-15,-2,14,18,...,46,34,22,4,-18,-31,-27,-26,-21,-30
2988,-45,-60,-73,-70,-70,-51,-29,-11,-7,-11,...,15,1,-21,-38,-44,-31,-17,4,35,59
3227,68,63,52,45,46,45,38,18,3,-4,...,-3,-22,-47,-68,-85,-92,-96,-83,-73,-66
8967,-59,-48,-35,-22,4,18,21,17,18,11,...,6,4,-5,-16,-29,-35,-21,3,35,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2383,506,510,512,518,530,543,559,574,582,570,...,155,18,78,236,386,395,504,625,816,863
6142,791,700,636,562,468,355,239,150,114,122,...,258,257,252,245,234,196,131,58,-5,-71
11133,-141,-253,-553,-952,-1184,-1045,-560,-16,379,633,...,6,-208,-524,-981,-1334,-1438,-1178,-720,-219,187
11164,496,665,693,620,521,385,255,146,84,60,...,130,149,182,227,264,280,286,269,242,208
7970,174,145,129,127,145,172,197,203,147,43,...,513,478,378,250,137,57,17,0,7,26

In [12]:
data.shape

(11500, 178)

In [13]:
data.shape[1]

178

In [14]:
n = int(len(data)/23)
m = len(data.columns)*23
print(n,m)

500 4094

In [15]:
n = int(data.shape[0]/23)
m = int(data.shape[1]*23)
print(n,m)

500 4094

In [16]:
X = np.array(data).reshape(n, m)
X.shape

(500, 4094)

In [17]:
X

array([[  12,   22,   35, ...,  -14,  -25,  -28],
       [ -56,  -50,  -64, ..., -159, -172, -180],
       [  14,   25,   31, ...,  -34,  -40,  -40],
       ...,
       [ -42,  -39,  -35, ...,  -21,  -22,  -29],
       [  34,   33,   28, ...,   31,   40,   45],
       [ 100,  124,  153, ...,    0,    7,   26]])

In [ ]:
df
#df.set_index(['idx', 'patient_ID'])

In [18]:
df = df.set_index(['patient_ID','idx'])

In [19]:
df

                 X1   X2   X3   X4    X5    X6   X7   X8   X9  X10  ...  X170  \
patient_ID idx                                                      ...
V1         1     12   22   35   45    69    74   79   78   66   43  ...   -18
           2    -41  -50  -53  -49   -35   -28  -15   -2   14   18  ...    34
           3    -45  -60  -73  -70   -70   -51  -29  -11   -7  -11  ...     1
           4     68   63   52   45    46    45   38   18    3   -4  ...   -22
           5    -59  -48  -35  -22     4    18   21   17   18   11  ...     4
...             ...  ...  ...  ...   ...   ...  ...  ...  ...  ...  ...   ...
V14        19   506  510  512  518   530   543  559  574  582  570  ...    18
           20   791  700  636  562   468   355  239  150  114  122  ...   257
           21  -141 -253 -553 -952 -1184 -1045 -560  -16  379  633  ...  -208
           22   496  665  693  620   521   385  255  146   84   60  ...   149
           23   174  145  129  127   145   172  197  203  147   43  ...   478

                X171  X172  X173  X174  X175  X176  X177  X178  y
patient_ID idx
V1         1     -32   -47   -53   -48   -40   -17   -23   -32  5
           2      22     4   -18   -31   -27   -26   -21   -30  5
           3     -21   -38   -44   -31   -17     4    35    59  5
           4     -47   -68   -85   -92   -96   -83   -73   -66  5
           5      -5   -16   -29   -35   -21     3    35    66  5
...              ...   ...   ...   ...   ...   ...   ...   ... ..
V14        19     78   236   386   395   504   625   816   863  1
           20    252   245   234   196   131    58    -5   -71  1
           21   -524  -981 -1334 -1438 -1178  -720  -219   187  1
           22    182   227   264   280   286   269   242   208  1
           23    378   250   137    57    17     0     7    26  1

[11500 rows x 179 columns]

In [ ]:
df.head()

In [27]:
sum(df.groupby('patient_ID')['y'].min() - df.groupby('patient_ID')['y'].max())

0

In [29]:
#y_values = df.unstack('idx').iloc[:,:1]
len(y_values)

500

In [49]:
temp = df.unstack('idx')
y_values = temp.iloc[:,4116:4117]

In [50]:
stacked_df = df.unstack('idx').iloc[:,:-23]

In [51]:
stacked_df

             X1                                                ... X178       \
idx          1    2    3     4    5    6    7    8    9    10  ...   14   15
patient_ID                                                     ...
V1           12  -41  -45    68  -59   92   14   50  -24  -14  ...   36   14
V1.1        -56  -91  -61  -125  -60  -12 -113  -32  -39  -19  ...   18  -22
V1.10        14   41   25   -58  -15    2   -9  -25   32  -94  ...   -8  -46
V1.101     -159  253  124     5 -135 -120   33   23  -23  -35  ...  -21  168
V1.102       34  -16  -22     9  -39  -19  -29  -38   -5  -45  ...   14  -36
...         ...  ...  ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
V1.994       23  -75 -186    35  -38 -379 -230  510  126 -354  ...  297 -287
V11         -24   -1  -11    54   17   17   64 -102  -50   51  ...  -39    0
V12         -42  -29  -90   -31  -39  -52  -57   -5  -14  -47  ...  -13    9
V13          34   12   48    12   35  -13    6   36   95   38  ...   47    8
V14         100   30  291 -1172  433  257 -853 -605  312  316  ...    9   11


idx          16   17   18   19   20   21   22   23
patient_ID
V1          -19  -27  -69   10   14  -34   -9  -28
V1.1        -49  -47 -158  -86   40  -32  -18 -180
V1.10       -46  -29   13    6    0   21  -91  -40
V1.101      -82 -117   46 -207   62  -77  -50 -100
V1.102       -5    9    5   11   -1  -13   13    0
...         ...  ...  ...  ...  ...  ...  ...  ...
V1.994     -249  423   50  236  417   87  180 -272
V11          10   86   17  -34  -22   30   79   23
V12         -17  -48  -69  -45 -132    1 -107  -29
V13          19   53   64  -11   81    9   58   45
V14         254  125  498  863  -71  187  208   26

[500 rows x 4094 columns]

In [52]:
stacked_df['y'] = y_values

In [53]:
stacked_df

             X1                                                ... X178       \
idx           1    2    3     4    5    6    7    8    9   10  ...   15   16
patient_ID                                                     ...
V1           12  -41  -45    68  -59   92   14   50  -24  -14  ...   14  -19
V1.1        -56  -91  -61  -125  -60  -12 -113  -32  -39  -19  ...  -22  -49
V1.10        14   41   25   -58  -15    2   -9  -25   32  -94  ...  -46  -46
V1.101     -159  253  124     5 -135 -120   33   23  -23  -35  ...  168  -82
V1.102       34  -16  -22     9  -39  -19  -29  -38   -5  -45  ...  -36   -5
...         ...  ...  ...   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
V1.994       23  -75 -186    35  -38 -379 -230  510  126 -354  ... -287 -249
V11         -24   -1  -11    54   17   17   64 -102  -50   51  ...    0   10
V12         -42  -29  -90   -31  -39  -52  -57   -5  -14  -47  ...    9  -17
V13          34   12   48    12   35  -13    6   36   95   38  ...    8   19
V14         100   30  291 -1172  433  257 -853 -605  312  316  ...   11  254

                                               y
idx          17   18   19   20   21   22   23
patient_ID
V1          -27  -69   10   14  -34   -9  -28  5
V1.1        -47 -158  -86   40  -32  -18 -180  5
V1.10       -29   13    6    0   21  -91  -40  5
V1.101     -117   46 -207   62  -77  -50 -100  4
V1.102        9    5   11   -1  -13   13    0  3
...         ...  ...  ...  ...  ...  ...  ... ..
V1.994      423   50  236  417   87  180 -272  1
V11          86   17  -34  -22   30   79   23  4
V12         -48  -69  -45 -132    1 -107  -29  3
V13          53   64  -11   81    9   58   45  2
V14         125  498  863  -71  187  208   26  1

[500 rows x 4095 columns]

In [56]:
stacked_df = stacked_df.reset_index()

In [57]:
melted_df = stacked_df.melt(id_vars = ['patient_ID', 'y'])

In [58]:
melted_df

        patient_ID  y  None idx  value
0               V1  5    X1   1     12
1             V1.1  5    X1   1    -56
2            V1.10  5    X1   1     14
3           V1.101  4    X1   1   -159
4           V1.102  3    X1   1     34
...            ... ..   ...  ..    ...
2046995     V1.994  1  X178  23   -272
2046996        V11  4  X178  23     23
2046997        V12  3  X178  23    -29
2046998        V13  2  X178  23     45
2046999        V14  1  X178  23     26

[2047000 rows x 5 columns]

In [59]:
melted_df = melted_df.sort_values(by = ['patient_ID','idx'])

In [60]:
melted_df

        patient_ID  y  None idx  value
0               V1  5    X1   1     12
11500           V1  5    X2   1     22
23000           V1  5    X3   1     35
34500           V1  5    X4   1     45
46000           V1  5    X5   1     69
...            ... ..   ...  ..    ...
2000999        V14  1  X174  23     57
2012499        V14  1  X175  23     17
2023999        V14  1  X176  23      0
2035499        V14  1  X177  23      7
2046999        V14  1  X178  23     26

[2047000 rows x 5 columns]